/JasperReport/JavaApplication1/build/
/JasperReport/JavaApplication1/nbproject/private/
/JasperReport/JavaApplicationReport2/build/
/JasperReport/JavaApplicationReport2/dist/
/JasperReport/JavaApplicationReport2/nbproject/private/